@import "bootstrap/scss/bootstrap"; 
@import "@fortawesome/fontawesome-free/css/all.min.css";

// RESET
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  overflow-x: hidden;

}

img{
    max-width: 100%;
}

ul{
    
    li {
        list-style-type: none;
        
        a{
            text-decoration: none;
            color: white;

        }
        a:hover{
            color: red;
        }
        
    }
}

// .container{
//     width: 70%;
//     margin: 0 auto;
// }